<ion-header>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="card-food" *ngFor="let aliment of aliments">
      <ion-card-content id="img-card-food">
        <ion-img src="{{ aliment.image_front_small_url}}"></ion-img>
      </ion-card-content>
      <ion-label>
        <h2 id="nom-commercial">{{ aliment.product_name_fr }}</h2>
        <p id="code">{{ aliment.code }}</p>
        <p id="nom-generique">{{ aliment.generic_name_fr }}</p>
      </ion-label>
    </ion-card>
  </div>

  <!-- Partie Plus d'infos sur l'aliment -->
  <ion-card class="plus-dinfos">

    <ion-card-content class="infos-food" *ngIf="this.plusClicked">
      <ion-card-title color="primary">
        <h2>Nom : {{ aliment.product.product_name_fr }}</h2>
      </ion-card-title>

      <ion-card-content>
        <ion-row>
          <ion-col size="auto">
            <h3 class="titre-infos">Ingrédients : </h3>
          </ion-col>
          <ion-col>
            <p class="text-infos ion-text-capitalize">{{aliment.product.ingredients_text_fr}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="auto">
            <h3 class="titre-infos">Infos Nutritionnelles (aux 100g) : </h3>
          </ion-col>
          <ion-col>
            <p class="text-infos">Energie : kcal/{{aliment.product.nutriments.energy_100g}}kJ</p>
            <p class="text-infos">Protéines : {{aliment.product.nutriments.proteins_100g}}g</p>
            <p class="text-infos">Lipides : {{aliment.product.nutriments.fat_100g}}g</p>
            <p class="text-infos">Glucides : {{aliment.product.nutriments.carbohydrates_100g}}g</p>
            <p class="text-infos">Sucres : {{aliment.product.nutriments.sugar_100g}}g</p>
            <p class="text-infos">Fibres : {{aliment.product.nutriments.fibers_100g}}g</p>
            <p class="text-infos">Sel : {{aliment.product.nutriments.salt_100g}}g</p>

          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <h3 class="titre-infos">Description : </h3>
            <ion-input name="description" type="text" placeholder="ça goûte bon"></ion-input>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <ion-card-title>
        <h2>Où trouver {{aliment.product.product_name_fr}} ?</h2>
      </ion-card-title>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <h3 class="titre-infos">Lien vers le site Open Food Facts : </h3>
            <a class="text-infos" href="{{aliment.product.url}}">
              {{aliment.product.url}}
            </a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card-content>
  </ion-card>



  <!-- fab X : aliment précédent -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="alimentPrecedent()" *ngIf="numeroPage>1" color="secondary">
      <ion-icon name="arrow-round-back" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- fab +/- : afficher ou non les infos supplémentaires de la nourriture -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="showPlusInfos()" color="secondary">
      <ion-icon name="add" *ngIf="!this.plusClicked" color="primary"></ion-icon>
      <ion-icon name="remove" *ngIf="this.plusClicked" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- aliment suivant -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="alimentSuivant()" color="secondary">
      <ion-icon name="arrow-round-forward" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>